header{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.8fr;
    height: auto;
    margin: 0% 10%;
}

.samokat{
    height: inherit;
    color: #ffffff;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    height: inherit;
    color: #22cc22;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.repair{
    height: inherit;
    color: #ffffff;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.address{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.phones{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.phones a{
    color: #22cc22;
}

.phone-png{
    height: 4em;
    width: auto;
}

.address-png{
    height: 4em;
    width: auto;
}

.address{
    color: #22cc22;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media(max-aspect-ratio: 1/1)
{
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-div{
        display: none;
    }

}