section{
    display: flex;
    flex-direction: column;
    margin: 0vw 10vw;
}

.text-on-img{
    color: #22aa22;
    position: absolute;
    font-size: 2vw;
    width: 60vw;
    z-index: 2;
    margin-left: 10vw;
    text-shadow: 0 0 10px #222222;
    font-family: Arial, Helvetica, sans-serif;
}


.img-and-text{
    display: block;
    position: relative;
    width: 80vw;
    margin-bottom: 5vh;
}

.odd .section-img{
    height: 60vw;
    width: 80vw;
    margin-left: 0vw;
    object-fit: cover;
}

.even .section-img{
    height: 60vw;
    width: 80vw;
    margin-right: 0vw;
    object-fit: cover;
}
body{
    background-color: #222222;
}

@media (max-aspect-ratio: 1/1) {
    section{
        margin: 0% 0%;
    }

    section div{
        margin: 0%;
    }

    .text-on-img{
        position: relative;
        color: #22cc22;
        margin: 0%;
    }
    .even .section-img{
        margin: 0%;
        width: 100%;
    }
    .odd .section-img{
        margin: 0%;
        width: 100%;
    }
    .even .text-on-img{
        margin: 0%;
        width: 100%;
    }
    .odd .text-on-img{
        margin: 0%;
        width: 100%;
    }

    .img-and-text{
        display: flex;
        flex-direction: column;
        margin: 0%;
        width: 100vw;
    }
}